name: "CI"
on:
  pull_request:
    branches: [master]

jobs:
  ci:
    name: lint
    runs-on: ubuntu-latest
    env:
        GO111MODULE: on
        DISPLAY: ":99.0"
        EGL_PLATFORM: "x11"
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: cgo-dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qq pkg-config libwayland-dev libx11-dev libx11-xcb-dev libxkbcommon-dev libxkbcommon-x11-dev libgles2-mesa-dev libegl1-mesa-dev libffi-dev libxcursor-dev
    - uses: dominikh/staticcheck-action@v1.2.0
      with:
        version: "2022.1"
